@import "tailwindcss";

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.marquee:hover {
  animation-play-state: paused;
}
@keyframes borderWalk {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.glowing-border {
  position: relative;
  border-radius: 1rem;
  padding: 4px; /* Border thickness */
  background: linear-gradient(270deg, #34d399, #10b981, #34d399);
  background-size: 400% 400%;
  animation: borderWalk 4s linear infinite;
}

.glowing-border::before {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  z-index: -1;
  background: inherit;
  filter: blur(10px);
  border-radius: inherit;
}
@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 6s linear infinite;
}


 /* #000000
 #0000EE

#7A7A7A
#DDDDDD
#F7F7F7
#FB3AA2
#FFFFFF
#218544
#555555
#5D2DE6
#000000
#262626

text-black
text-blue-700
text-gray-500
text-gray-300
text-gray-100
text-pink-500
text-white
text-green-700
text-gray-600
text-indigo-600
text-black
text-gray-800 */

